In [2]:
str_final='President Obama is the best president of United States'
str_final

'President Obama is the best president of United States'

In [3]:
str_final.split('e')

['Pr',
 'sid',
 'nt Obama is th',
 ' b',
 'st pr',
 'sid',
 'nt of Unit',
 'd Stat',
 's']

In [6]:
tup1=(1,True,3,14,5-7j)
tup1[0]

1

In [8]:
tup1[-1]  #this gives you the last element

(5-7j)

In [10]:
tup1[0:2] #Extracting data from 0 to 2nd value

(1, True)

In [11]:
len(tup1)

5

In [13]:
tup1=(1,2,3)
tup2=(4,5,6)
tup1+tup2 #Concatanation of tuples

(1, 2, 3, 4, 5, 6)

In [15]:
tup1*3 #Repating tuple 1 for 3 times

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [16]:
tup1*3+tup2

(1, 2, 3, 1, 2, 3, 1, 2, 3, 4, 5, 6)

In [17]:
tup1.min()

AttributeError: 'tuple' object has no attribute 'min'

In [18]:
min(tup1)

1

In [19]:
max(tup1)

3

In [20]:
lst1=[1,'a','sparta',3.14,True]

In [21]:
lst1[2:5]

['sparta', 3.14, True]

In [23]:
#You need to remember that list is mutable
lst1.append(-87.99)
lst1

[1, 'a', 'sparta', 3.14, True, -87.99, -87.99]

In [26]:
#Reversing element in a list using reverse function
lst1.reverse()
lst1

[-87.99, -87.99, True, 3.14, 'sparta', 'a', 1]

In [32]:
#inserting a value at a specified index
lst1.insert(3,'hello')
lst1

[-87.99,
 -87.99,
 True,
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 3.14,
 'sparta',
 'a',
 1]

In [31]:
lst1

[-87.99,
 -87.99,
 True,
 'hello',
 'hello',
 'hello',
 'hello',
 3.14,
 'sparta',
 'a',
 1]

In [33]:
lst1.sort()

TypeError: '<' not supported between instances of 'str' and 'bool'

In [34]:
l1=['a','f','d','b','z']

In [35]:
l1.sort()

In [36]:
l1

['a', 'b', 'd', 'f', 'z']

In [37]:
l2=['apple','banana','mango']
l1+l2

['a', 'b', 'd', 'f', 'z', 'apple', 'banana', 'mango']

In [38]:
#Let's get onto dictionary
dic={'Apple':50,'Mango':100,'Guava':200,'Banana':500}

In [39]:
dic

{'Apple': 50, 'Mango': 100, 'Guava': 200, 'Banana': 500}

In [40]:
type(dic)

dict

In [41]:
dic.keys()#to find out the keys only

dict_keys(['Apple', 'Mango', 'Guava', 'Banana'])

In [42]:
dic.values() #to find out the values only

dict_values([50, 100, 200, 500])

In [43]:
#Adding a new key value pair
dic['Banana']=1

In [44]:
#deleting a value can be done by using pop method
dic.pop('Banana')

1

In [45]:
dic

{'Apple': 50, 'Mango': 100, 'Guava': 200}

In [46]:
#set value can not be extracted
s1={1,3.14,'sparta',3.14}

In [47]:
s1

{1, 3.14, 'sparta'}

In [48]:
#duplicate values are not allowed in sets
#Now let's see how we can add a value to set
s1.add('Hello')

In [49]:
s1

{1, 3.14, 'Hello', 'sparta'}

In [51]:
#Adding a boolen value in a set
s1.update(['hello',78972,5+7j])

In [52]:
s1

{(5+7j), 1, 3.14, 78972, 'Hello', 'e', 'h', 'hello', 'l', 'o', 'sparta'}

In [53]:
set1={1,'hello','sparta',78972,5+7j}

In [54]:
set1

{(5+7j), 1, 78972, 'hello', 'sparta'}

In [58]:
set2={'kaipoche','sushant',8.5,1}

In [61]:
set2

{1, 8.5, 'kaipoche', 'sushant'}

In [63]:
set1.union(set2)

{(5+7j), 1, 78972, 8.5, 'hello', 'kaipoche', 'sparta', 'sushant'}

In [64]:
set1.intersection(set2)

{1}

In [66]:
#If statement : if 
a=10
b=20
if b>a:
    print('b is greater than a')

b is greater than a

In [67]:
#finding the max number from 3 numbers
a=10
b=20
c=30
if a>b & a>c:
    print('a is the greatest')
elif b>a & b>c:
    print('b is the greatest')
else:
    print('c is the greatest')

c is the greatest